<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <base href="http://localhost:7659/">
        <!-- <base href="https://agora.dwsapp.io"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Agora, apporter des réponses de qualité pour développer des idées nouvelles</title>
        <meta name="description" content="Plate-forme d'entre-aide pour apporter des réponses de qualité et développer des idées nouvelles">
        <meta name="author" content="Julien Noyer">
        <meta name="keywords" content="entre-aide, internet, question/réponse, formation, apprendre, aider">
        <link rel="icon" href="/img/logo.png" type="image/png">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
        <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
        <link rel="stylesheet" href="https://unpkg.com/flexmasonry/dist/flexmasonry.css">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/main.css">
        <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="/js/simpleMDEClass.js"></script>
        <script src="/js/MarkdownViewer.js"></script>
        <script src="/js/formValueClass.js"></script>
        <script src="https://unpkg.com/flexmasonry/dist/flexmasonry.js"></script>
        <script src="/js/common.js"></script>
        <script src="/js/header.js"></script>
    </head>
    <body>

        <header>
            <nav>
                <ul>
                    <li id="logoKora" class="rightLink">
                            <a href="/"><img src="./img/logo.png" alt="Logo Kora"></a>
                         <span>Agora <strong>La moindre chose contient un peu d'inconnu</strong></span></li>
                    <% if(!isLogged){  %>
                        <li class="rightLink login"><a href="/login"><img src="./img/login.png" alt="Connexion"></a></li>
                        <li class="rightLink"><a href="/register"><img src="./img/register.png" alt="Inscription"></a></li>
                    <% } %>
                    <% if(isLogged){  %>
                        <li><a href="#" id="askQuestionBtn"><img src="./img/question.png" alt="Poser une question"></a></li>
                        <li id="logoutButton"  class="rightLink"><a href="/logout"><img src="./img/logout.png" alt="Deconnexion"></a></li>
                    <% } %>
                </ul>
            </nav>
            <% if(isLogged) { %>
                <% include ../components/form-question.ejs %>
                <% include ../components/form-response.ejs %>
            <% } %>
            <% include ../components/loader.ejs %>
        </header>