<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Kora: what do you MEAN?</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
        <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
        <link rel="stylesheet" href="http://localhost:7659/css/reset.css">
        <link rel="stylesheet" href="http://localhost:7659/css/main.css">
        <script src="http://localhost:7659/js/common.js"></script>
        <script src="http://localhost:7659/js/header.js"></script>
    </head>
    <body>

        <header>
            <nav>
                <ul>
                    <li id="logoKora"><img src="./img/logo.png" alt="Logo Kora"> <span>Kora</span></li>
                    <% if(!isLogged){  %>
                        <li><a href="/register">Inscription</a></li>
                        <li><a href="/login">Connexion</a></li>
                    <% } %>
                    <% if(isLogged){  %>
                        <li><a href="#" id="askQuestionBtn"><i class="fas fa-question"></i></a></li>
                        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i></a></li>
                    <% } %>
                </ul>
            </nav>
            <% if(isLogged) { %>
                <% include ../components/form-question.ejs %>
                <% include ../components/form-response.ejs %>
            <% } %>
        </header>
        <main>