<ul id="categoryList">
    <li data-item="html">HTML</li>
    <li data-item="css">CSS</li>
    <li data-item="javascript">Javascript</li>
    <li data-item="php">PHP</li>
    <li data-item="backend">Technologie Serveur</li>
    <li data-item="frontend">Technologie Client</li>
    <li data-item="pwa">PWA</li>
    <li data-item="git">Git/Gihub</li>
    <li data-item="technique">Bonnes pratiques</li>
</ul>