<%- include('./static/header.ejs'); %>

<main class="grid">

    <section>
        <h1>Apporter des réponses de qualité pour développer des idées nouvelles</h1>
        <p>Agora est une plateforme d'entre-aide pour aider à la compréhension des technologies de l'Internet.</p>
    </section>

<% data.map(item => { %>
    <section>
        <%- include('./components/card-question.ejs', { data: item }); %>
    </section>
<% }) %>

<% include ./static/footer.ejs %>