<% include ./static/header.ejs %>

<% if(isLogged) { %>
    <% include ./components/form-question.ejs %>
<% } %>

<% questions.map(item => { %>
    <section>
        <article>
            <%- include('./components/card-question.ejs', { data: item }); %>
        </article>
        <% if(isLogged) { %>
            <article>
                <%- include('./components/form-response.ejs', { parentItem: item.question._id }); %>
            </article>
        <% } %>
    </section>
<% }) %>

<% include ./static/footer.ejs %>