<% include ./static/header.ejs %>

<% data.map(item => { %>
    <section class="questionSection">
        <article>
            <%- include('./components/card-question.ejs', { data: item }); %>
        </article>
        <% if(isLogged) { %>
            <article>
                <%- include('./components/form-response.ejs', { parentItem: item.question._id }); %>
            </article>
        <% } %>
    </section>
<% }) %>

<% include ./static/footer.ejs %>