<%- include('./static/header.ejs'); %>

<main class="grid">
    <section id="mainTitle">
        <article>
            <h1>Optio culpa dolorem omnis tenetur obcaecati nostrum nemo doloribus.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
        </article>
    </section>

    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam mollitia, labore autem tempora repellendus fugiat temporibus? Voluptates consequatur dolorum adipisci odio! Ullam reiciendis eaque libero repellendus ipsum totam ratione officia!</p>
    </section>
    <aside></aside>
    <aside></aside>
</main>

<% include ./static/footer.ejs %>