<%- include('./static/header.ejs') %>

<main class="contentPage">
    <section id="mainQuestion">
        <%- include('./components/header-question.ejs', { data: data }); %>
        <div class="headlineQuestionPublic"><%= data.question.headline %></div>
    </section>
    <div>
        <section class="grid response">
            <% if( data.comments.length > 0 ) { %>
                <% for( let item of data.comments ) { %>
                    <%- include('./components/card-response.ejs', { data: item }); %>
                <% } %>
            <% } %>
            <% if(data.comments.length < 2) { %>
                <aside></aside>
            <% } %>
            
            <% if(data.comments.length < 3) { %>
                <aside></aside>
            <% } %>
        </section>
    </div>
</main>

<% include ./static/footer.ejs %>