<% if(data.question.author.identifier === isLogged) { %>
    <ul class="questionFooterEdit">
        <li><button type="button" class="editBtn editQuestionBtn" data-id="<%= data.question._id %>">Editer</button></li>
    </ul>
<% } %>