<section id="headerForm">
    <form action="#" id="questionForm" novalidate>
        <div class="box">
            <select name="questionCategory" id="questionCategory" required>
                <option value="NULL">Selectonner une catégorie</option>
                <option value="html">HTML</option>
                <option value="css">CSS</option>
                <option value="javascript">Javascript</option>
                <option value="php">PHP</option>
                <option value="backend">Technologie Serveur</option>
                <option value="frontend">Technologie Client</option>
                <option value="pwa">PWA</option>
                <option value="git">Git/Gihub</option>
                <option value="technique">Bonnes pratiques</option>
            </select>
        </div>
        <input type="text" id="parentItem" name="headline" id="headlineQuestionAbout" required hidden minlength="5">

        <textarea name="headlineQuestion" id="headlineQuestion" required minlength="20"></textarea>

        <button type="submit" class="submitFomrButton"><img src="./img/check.png" alt="Enregistrer"></button>
        <button type="button" class="closeButtonFormButton" id="closeFromQuestion"><img src="./img/close.png" alt="Ferme"></button>
    </form>
</section>

<script>
    // Wait for DOM content
    document.addEventListener('DOMContentLoaded', () => {

        const myFormQuestion = document.querySelector('#questionForm');
        const questionCodeMirror = document.querySelector('#questionForm .CodeMirror.cm-s-paper.CodeMirror-wrap');
        const questionCategory = document.querySelector('#questionCategory');

        const questionFormMarkdown = new MarkdownEditor('#headlineQuestion', true);
        questionFormMarkdown.setMarkdownEditor()
        
        

        // Methods
        const getFormSubmitREsponse = () => {
            myFormQuestion.addEventListener('submit', event => {
                // Stop default to use Javascript
                event.preventDefault();

                let formError = 0;
                
                console.log(questionFormMarkdown.checkLenght(20))
                console.log(questionFormMarkdown.getValue())

                if(questionCategory.value === 'NULL'){
                    questionCategory.classList.add('errorBackground');
                    formError++;
                }

                if(questionFormMarkdown.checkLenght(20) === false){
                    document.querySelector('#questionForm .CodeMirror.cm-s-paper.CodeMirror-wrap').classList.add('errorBorder');
                    formError++;
                }

                if( formError === 0 ){
                    // Display loader
                    openLoaderUX(
                        '#loaderMessage', 
                        '#loader', 
                        'Enregistrement du message...'
                    )

                    // Use asyncFetch method to save data
                    asyncFetch('/api/question', 'POST', { headline:  questionFormMarkdown.getValue(), about: questionCategory.value })
                    .then( data => {
                        // Change loader
                        openLoaderUX(
                            '#loaderMessage', 
                            '#loader', 
                            'Question enregistrée !',
                            '/'
                        )
                    })
                    .catch( err => {
                        // Change loader
                        changeLoaderUX(
                            '#loaderMessage', 
                            '#loader', 
                            err.status === 500 ? 'La question à déjà été posée...' : 'Problème réseeau merci de recommencer',
                            null
                        )
                    } )
                }

                // Check form values
                /* if( questionFormMarkdown.checkLenght(20) && questionCategory.value !== 'NULL'){

                    // Display loader
                    openLoaderUX(
                        '#loaderMessage', 
                        '#loader', 
                        'Enregistrement du message...'
                    )

                    // Use asyncFetch method to save data
                    asyncFetch('/api/question', 'POST', { headline:  questionFormMarkdown.getValue(), about: questionCategory.value })
                    .then( data => {
                        // Change loader
                        openLoaderUX(
                            '#loaderMessage', 
                            '#loader', 
                            'Question enregistrée !',
                            '/'
                        )
                    })
                    .catch( err => {
                        // Change loader
                        changeLoaderUX(
                            '#loaderMessage', 
                            '#loader', 
                            err.status === 500 ? 'La question à déjà été posée...' : 'Problème réseeau merci de recommencer',
                            null
                        )
                    } )
                } */
            })

            hideError()
        }

        const hideError = (type) => {
            // Delete textarea error
            document.querySelector('#questionForm .CodeMirror.cm-s-paper.CodeMirror-wrap').addEventListener('click', () => {
                document.querySelector('#questionForm .CodeMirror.cm-s-paper.CodeMirror-wrap').classList.remove('errorBorder');
            })

            // Delete select error
            questionCategory.addEventListener('click', () => {
                questionCategory.classList.remove('errorBackground');
            })
        }

        // Start interface
        getFormSubmitREsponse();
    })
</script>