<form action="#" id="formRegisterLogin">
    <label for="email">email</label>
    <input type="email" id="email" name="email" required minlength="5">

    <label for="password">Mot de passe</label>
    <input type="password" id="password" name="password" required minlength="5">

    <button type="submit">Connnexion</button> <span id="formResponse"></span>
</form>

<script>
    // Wait for DOM content
    document.addEventListener('DOMContentLoaded', () => {

        // Definition
        const myForm = document.querySelector('form');
        const userEmail = document.querySelector('#email');
        const userPassword = document.querySelector('#password');
        const formResponse = document.querySelector('#formResponse');

        // Methods
        const getFormSubmit = () => {
            myForm.addEventListener('submit', event => {
                // Stop default to use Javascript
                event.preventDefault();

                // Check form values
                if( userEmail.value.length > 4 && userPassword.value.length > 4){
                    // Display loader
                    openLoaderUX(
                        '#loaderMessage', 
                        '#loader', 
                        'Connexion...'
                    )

                    // Use asyncFetch method to save data
                    asyncFetch('/api/auth/login', 'POST', { email: userEmail.value, password:  userPassword.value})
                    .then( data => {
                        // Change loader
                        changeLoaderUX(
                            '#loaderMessage', 
                            '#loader', 
                            'Connexion réussi !',
                            '/'
                        )
                    })
                    .catch( err => {
                        // Change loader
                        changeLoaderUX(
                            '#loaderMessage', 
                            '#loader', 
                            'Identifiants inconnus...',
                            null
                        )
                    } )
                }
            })
        }

        // Start interface
        getFormSubmit();
    })
</script>