<section id="headerForm">
    <form action="#" id="questionForm">
        <button type="button" id="closeButtonFormQuestion"><i class="fas fa-times"></i></button>
        <textarea name="headline" id="headline" required minlength="20" placeholder="C'est quoi ta question ?"></textarea>
        <button type="submit"><i class="fas fa-check"></i></button> <span id="formResponse"></span>
    </form>
</section>

<script>
    // Wait for DOM content
    document.addEventListener('DOMContentLoaded', () => {

        // Definition
        const myForm = document.querySelector('#questionForm');
        const headline = document.querySelector('#headline');
        const closeButtonFormQuestion = document.querySelector('#closeButtonFormQuestion');
        const formResponse = document.querySelector('#formResponse');

        // Methods
        const getFormSubmit = () => {
            myForm.addEventListener('submit', event => {
                // Stop default to use Javascript
                event.preventDefault();

                // Check form values
                if( headline.value.length > 19){

                    // Use asyncFetch method to save data
                    asyncFetch('http://localhost:7659/api/question', 'POST', { headline:  headline.value, about: '5cee8b348bccd2292091584a'})
                    .then( data => {
                        // Display message
                        formResponse.innerHTML = data.message
                        setTimeout( () => {
                            formResponse.innerHTML = ''
                        }, 3000 )

                        // Reset form
                        headline.value = '';
                    })
                    .catch( err => {
                        // Display message
                        formResponse.innerHTML = err.error || err.message
                        setTimeout( () => {
                            formResponse.innerHTML = ''
                        }, 3000 )
                    } )
                }
            })
        }

        const closePopIn = () => {
            closeButtonFormQuestion.addEventListener('click', () => {
                headerForm.classList.remove('open');
                askQuestionFormIsOpen = false;
            })
        }

        // Start interface
        getFormSubmit();
        closePopIn();
    })
</script>