<section id="headerEditForm">
    <form action="#" id="editForm" novalidate>
        <h3>Editer votre question</h3>
        <textarea id="hiddenHeadlineEditForm" hidden></textarea>
        <textarea name="headlineEditForm" id="headlineEditForm" required minlength="20"></textarea>
        <input type="text" id="idEditForm" name="idEditForm" required  minlength="5" hidden>
        <button type="submit" class="submitFomrButton"><img src="./img/check.png" alt="Enregistrer"></button>
        <button type="button" class="closeButtonFormButton" id="closeEditForm"><img src="./img/close.png" alt="Ferme"></button>
    </form>    
</section>
