<section id="headerForm">
    <form action="#" id="questionForm">
        <div class="box">
            <select name="questionCategory" id="questionCategory" required>
                <option value="NULL">Selectonner une catégorie</option>
                <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
                <option value="Javascript">Javascript</option>
                <option value="PHP">PHP</option>
                <option value="Tech. Server">Technologie Serveur</option>
                <option value="Tech. Client">Technologie Client</option>
                <option value="PWA">PWA</option>
                <option value="Git">Git/Gihub</option>
                <option value="BP.">Bonnes pratiques</option>
            </select>
        </div>
        <textarea name="headline" id="headline" required minlength="20" placeholder="C'est quoi ta question ?"></textarea>
        <button type="submit" class="submitFomrButton"><img src="./img/check.png" alt="Enregistrer"></button> <span id="formResponse"></span>
        <button type="button" class="closeButtonFormButton" id="closeFromQuestion"><img src="./img/close.png" alt="Ferme"></button>
    </form>
</section>

<script>
    // Wait for DOM content
    document.addEventListener('DOMContentLoaded', () => {

        // Definition
        const myFormQuestion = document.querySelector('#questionForm');
        const headline = document.querySelector('#headline');
        const questionCategory = document.querySelector('#questionCategory');
        const formResponse = document.querySelector('#formResponse');

        // Methods
        const getFormSubmitREsponse = () => {
            myFormQuestion.addEventListener('submit', event => {
                // Stop default to use Javascript
                event.preventDefault();

                // Check form values
                if( headline.value.length > 19 && questionCategory.value !== 'NULL'){

                    // Display loader
                    openLoaderUX(
                        '#loaderMessage', 
                        '#loader', 
                        'Enregistrement du message...'
                    )

                    // Use asyncFetch method to save data
                    asyncFetch('/api/question', 'POST', { headline:  headline.value, about: questionCategory.value })
                    .then( data => {
                        // Change loader
                        openLoaderUX(
                            '#loaderMessage', 
                            '#loader', 
                            'Question enregistrée !',
                            '/'
                        )
                    })
                    .catch( err => {
                        // Change loader
                        changeLoaderUX(
                            '#loaderMessage', 
                            '#loader', 
                            err.status === 500 ? 'La question à déjà été posée...' : 'Problème réseeau merci de recommencer',
                            null
                        )
                    } )
                }
            })
        }

        // Start interface
        getFormSubmitREsponse();
    })
</script>