<section id="headerForm">
    <form action="#" id="questionForm" novalidate>
        <div class="box">
            <select name="questionCategory" id="questionCategory" required>
                <option value="NULL">Selectonner une catégorie</option>
                <option value="html">HTML</option>
                <option value="css">CSS</option>
                <option value="javascript">Javascript</option>
                <option value="php">PHP</option>
                <option value="backend">Technologie Serveur</option>
                <option value="frontend">Technologie Client</option>
                <option value="pwa">PWA</option>
                <option value="git">Git/Gihub</option>
                <option value="technique">Bonnes pratiques</option>
            </select>
        </div>

        <textarea name="headlineQuestion" id="headlineQuestion" required minlength="20"></textarea>

        <button type="submit" class="submitFomrButton"><img src="./img/check.png" alt="Enregistrer"></button>
        <button type="button" class="closeButtonFormButton" id="closeFromQuestion"><img src="./img/close.png" alt="Ferme"></button>
    </form>
</section>

<script>
    // Wait for DOM content
    document.addEventListener('DOMContentLoaded', () => {
        // Declarations
        const myFormQuestion = document.querySelector('#questionForm');
        const questionCodeMirror = document.querySelector('#questionForm .CodeMirror.cm-s-paper.CodeMirror-wrap');
        const questionCategory = document.querySelector('#questionCategory');

        // SimpleMDE
        const questionFormMarkdown = new MarkdownEditor('#headlineQuestion', true, null);
        questionFormMarkdown.setMarkdownEditor()
        
        // Methods to get form submition
        const getFormSubmitREsponse = () => {
            myFormQuestion.addEventListener('submit', event => {
                // Stop default to use Javascript
                event.preventDefault();

                // Set error checker
                let formError = 0;

                // Set form value
                let categorySelect = new FormValue(document.querySelector('#questionCategory'), 'select')
                let questionMarkdown = new FormValue(questionFormMarkdown.getValue(), 'input')

                // Check mandatories
                categorySelect.checkString('NULL') ? formError++ : undefined;
                questionMarkdown.checkLength(20) ? formError++ : undefined;

                // Check form error
                if( formError === 0 ){
                    // Display loader
                    openLoaderUX(
                        '#loaderMessage', 
                        '#loader', 
                        'Enregistrement du message...'
                    )

                    // Use asyncFetch method to save data
                    asyncFetch('/api/question', 'POST', { headline:  questionFormMarkdown.getValue(), about: questionCategory.value })
                    .then( data => {
                        // Change loader
                        openLoaderUX(
                            '#loaderMessage', 
                            '#loader', 
                            'Question enregistrée !',
                            '/'
                        )
                    })
                    .catch( err => {
                        // Change loader
                        changeLoaderUX(
                            '#loaderMessage', 
                            '#loader', 
                            err.status === 500 ? 'La question à déjà été posée...' : 'Problème réseeau merci de recommencer',
                            null
                        ) 
                    } )
                }
            })

            // Launch hide error method
            hideError()
        }

        // Method to hide error
        const hideError = (type) => {
            // Delete textarea error
            document.querySelector('#questionForm .CodeMirror.cm-s-paper.CodeMirror-wrap').addEventListener('click', () => {
                document.querySelector('#questionForm .CodeMirror.cm-s-paper.CodeMirror-wrap').classList.remove('errorBorder');
            })

            // Delete select error
            questionCategory.addEventListener('click', () => {
                questionCategory.classList.remove('errorBackground');
            })
        }

        // Start interface
        getFormSubmitREsponse();
    })
</script>