<section id="headerResponse">
    <form action="#" id="reponseForm" novalidate>
        <p class="formTitle">Question</p>
        <div id="questionInHtmlTag"></div>
    
        <p class="formTitle">Propose une réponse</p>
        
        <textarea name="headlineResponse" id="headlineResponse" required minlength="20"></textarea>
        
        <button type="submit" class="submitFomrButton"><img src="./img/check.png" alt="Enregistrer"></button>
        <button type="button" class="closeButtonFormButton" id="closeFromResponse"><img src="./img/close.png" alt="Ferme"></button>
    </form>

    
</section>

<script>
    // Wait for DOM content
    document.addEventListener('DOMContentLoaded', () => {

        // Declarations
        let responseFormIsOpen = false;
        const reponseForm = document.querySelector('#reponseForm');
        const parentItem = document.querySelector('#parentItem');
        const responseFormResponse = document.querySelector('#responseFormResponse');

        // SimpleMDE
        const responseFormMarkdown = new MarkdownEditor('#headlineResponse', true);
        responseFormMarkdown.setMarkdownEditor()

        // Methods
        const getFormSubmitResponse = () => {
            reponseForm.addEventListener('submit', event => {
                // Stop default to use Javascript
                event.preventDefault();

                console.log(responseFormMarkdown.getValue())
                console.log(responseFormMarkdown.checkLenght(20))


                // Check form values
                /* if( headlineResponse.value().length > 19){

                    // Display loader
                    openLoaderUX(
                        '#loaderMessage', 
                        '#loader', 
                        'Enregistrement de ta réponse...'
                    )

                    // Use asyncFetch method to save data
                    asyncFetch('/api/comment', 'POST', { headline:  headlineResponse.value(), parentItem: parentItem.value })
                    .then( data => {
                        // Change loader
                        openLoaderUX(
                            '#loaderMessage', 
                            '#loader', 
                            'Réponse enregistrée !',
                            '/'
                        )
                    })
                    .catch( err => {
                        console.log(err)
                        // Change loader
                        changeLoaderUX(
                            '#loaderMessage', 
                            '#loader', 
                            err.status === 500 ? 'La réponse à déjà été donnée...' : 'Problème réseeau merci de recommencer',
                            null
                        )
                    } )
                } */
            })
        }
        
        // Start interface
        getFormSubmitResponse();
    })
</script>