:root{
    --text-color: #606c76;
    --main-color: #0e76bb;
    --main-color-alpha: rgba(15, 118, 187, .1);
    --main-color-light: rgb(234, 242, 248);
}

.button, button, input[type='button'], input[type='reset'], input[type='submit'], input[type='email']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, input[type='color']:focus, input[type='date']:focus, input[type='month']:focus, input[type='week']:focus, input[type='datetime']:focus, input[type='datetime-local']:focus, input:not([type]):focus, textarea:focus, select:focus{
    background-color: var(--main-color);
    border: 0.1rem solid var(--main-color);
}

textarea:focus{
    background-color: var(--main-color-alpha);
}

a {
    color: var(--main-color);
}

pre {
    border: none;
}